---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  labels:
    app: sidecars
data:
  fluent.conf: |
    <source>
      @type syslog
      port 514
      bind 127.0.0.1
      tag sidecars
      <parse>
        @type syslog
        message_format rfc5424
        time_format %Y-%m-%dT%H:%M:%S.%L%z
      </parse>
      severity_key severity
      facility_key facility
    </source>
    <match **>
      @type stdout
      use_logger false
      <format>
        @type json
      </format>
      <inject>
        time_key time
        time_type string
        time_format %Y-%m-%dT%H:%M:%S.%3N%z
      </inject>
    </match>
