---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  labels:
    app: sidecars
data:
  fluent.conf: |
    <source>
      @type syslog
      port 514
      bind 127.0.0.1
      tag sidecars
      <parse>
        @type syslog
        message_format rfc5424
        time_format %Y-%m-%dT%H:%M:%S.%L%z
      </parse>
    </source>
    <match **>
      @type stdout
    </match>
